@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao <strong>Car Log</strong></h1>
    <h2 class="display-4">Gestão de frota</h2>
    <a asp-area="" asp-controller="Veiculos" asp-action="Index">

    <img src="~/css/img.jpg" width="500px" height="500px"/>
    </a>
</div>
